body{
  background-color: #fff; 
}
.brandSection{
  background-color: #B0C4DE;
  border:1px solid #000;
}#B0C4DE
.headerLeft h1{
  color:#000;
  margin: 0px;
  font-size:28px;
}
.header{
  padding: 10px;
}
.headerRight p{
  margin: 0px;
  font-size:15px;
  color:#000;
  text-align: right;
}
.contentSection{
  background-color: #fff;
  padding: 0px;
}
.content{
  background-color: #fff;
  padding:20px;
}
.content h1{
  font-size:22px;
  margin:0px;
}
.content p{
  margin: 0px;
  font-size: 15px;
}
.content span{
  font-size: 11px;
  color:#F2635F;
}
.panelPart{
  background-color: #fff;
}
.panel-body{
  background-color: #B0C4DE;
  color:#000;
  padding: 5px;
}
.panel-footer {
  background-color:#fff; 
}
.panel-footer h1{
  font-size: 20px;
  padding:15px;
  border:1px dotted #000;
}
.panel-footer p{
  font-size:13px;
  background-color: #F6F6F6;
  padding: 5px;
}
th{
  background-color: #383C3D;
  color:#000;
}
td:nth-child(2){
  text-align: left;
}
td { 
  height: 100%;
}
.bg {
 background-color: #f00;
  width: 100%; 
  height: 100%; 
  display: block; 
}
.lastSectionleft{
  background-color: #fff;
  padding-top:20px;
}
.Sectionleft p{
  border:1px solid #000;
  height:140px;
  padding: 5px;
}
.Sectionleft span{
  color:#42A5C5;
}
.lastPanel{
  text-align:center;
}
.panelLastLeft p,.panelLastRight p{
  font-size:11px;
  padding:5px 2px 5px 10px;
}



#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #000;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #B0C4DE;
  color: #000;
}
#image{
   opacity: 0.0;
}
.table{
  width: 100%;
}